.cont .bck img {
  background-size: cover;
  width: 100%;
  position: relative;
}

.cont .bck .text_inter1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont .bck .text_inter1 .t_1 {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-decoration: underline;
}

.cont .bck .text_inter1 .t_2 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 55px;
  color: white;
  line-height: 60px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.cont .bck .text_inter1 .t_2 span {
  color: #B32137;
}

.cont .bck .text_inter1 .t_3 {
  font-size: 20px;
  color: white;
}

.cont .bck .icon-re {
  width: 29px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  bottom: 390px;
  right: 30px;
}

.cont .bck2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  bottom: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont .bck2 h1 {
  font-size: 45px;
  font-weight: 600;
  color: black;
  margin-bottom: 50px;
}

.cont .bck2 h1 span {
  color: #B32137;
}

.cont .bck2 p {
  font-size: 35px;
  color: black;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 290px;
  line-height: 70px;
}

.cont .bck2 .pict {
  margin-top: 150px;
}

.cont .bck2 .pict img {
  width: 500px;
  padding-left: 100px;
}

.cont .bck3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#B32137), to(#81256C));
  background: linear-gradient(#B32137, #81256C);
  margin-top: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont .bck3 .arch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 40px;
  height: 512px !important;
  width: 910px !important;
}

.cont .bck3 ._logo {
  position: relative;
}

.cont .bck3 .container .p_1 {
  width: 640px;
  height: 360px;
  border-radius: 54px;
  position: relative;
  top: 100px;
  right: 300px;
}

.cont .bck3 .container .p_ {
  font-size: 24px;
  color: white;
  line-height: 50px;
  text-align: left;
  position: relative;
  bottom: 250px;
  left: 400px;
  padding-right: 100px;
}

.cont .bck3 .container .p_2 {
  width: 455px;
  height: 256px;
  border-radius: 54px;
  position: relative;
  top: -130px;
  left: -300px;
}

.cont .bck3 .container .p_3 {
  width: 360, 1px;
  height: 256px;
  border-radius: 54px;
  position: relative;
  top: -130px;
  left: -280px;
}

.cont .bck3 .container .p__p {
  font-size: 23px;
  line-height: 40px;
  color: white;
  position: relative;
  top: -400px;
  left: 580px;
  padding-right: 200px;
}

@media only screen and (max-width: 375px) {
  .cont .bck img {
    background-size: cover;
    max-width: 270%;
    height: 317, 97px !important;
    width: 300%;
    position: relative;
    right: 300px;
  }
  .cont .bck .text_inter1 {
    text-align: left;
    bottom: 240px;
    left: 40px;
  }
  .cont .bck .text_inter1 .t_1 {
    font-size: 12px;
  }
  .cont .bck .text_inter1 .t_2 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 12px;
    line-height: 25px;
    padding-right: 30px;
  }
  .cont .bck .text_inter1 .t_3 {
    font-size: 11px;
  }
  .cont .bck .icon-re {
    display: none;
  }
  .cont .bck2 h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  .cont .bck2 p {
    position: relative;
    font-size: 20px;
    padding: 40px 40px;
    line-height: 40px;
    bottom: 70px;
  }
  .cont .bck2 .pict {
    margin-top: 0px;
  }
  .cont .bck2 .pict img {
    padding-left: 0px;
    width: 250px;
    margin-bottom: 30px;
  }
  .cont .bck3 {
    margin-top: 0px;
  }
  .cont .bck3 .arch {
    width: 216px !important;
    height: 122px !important;
    bottom: 200px;
  }
  .cont .bck3 ._logo {
    width: 79px;
    height: 22px;
    bottom: 190px;
  }
  .cont .bck3 .container .p_1 {
    width: 152px;
    height: 85px;
    right: 0px;
    margin-bottom: 400px;
    left: 88px;
  }
  .cont .bck3 .container .p_ {
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    left: 50px;
    top: 10px;
  }
  .cont .bck3 .container .p_2 {
    width: 108px;
    height: 61px;
    left: 100px;
    top: 1500px;
  }
  .cont .bck3 .container .p_3 {
    width: 85,72px;
    height: 61px;
    left: 20px;
    top: 1500px;
  }
  .cont .bck3 .container .p__p {
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    left: 50px;
  }
}
/*# sourceMappingURL=styleperso.css.map */